<section id="time">
    <div class="time-outterMost-Div">
        <div class = "time-Inside-Div">
            <% for(let i=1; i<=11; i++){ %>
                <p class = "time-para"> <%= i %> AM </p>
            <% } %>
            <p class = "time-para">12 PM</p>
            <% for(let i=1; i<=11; i++){ %>
                <p class = "time-para"> <%= i %> PM  </p>
            <% } %>
        </div>
        <div class = "time-mid-div">
            <% for(let j=0; j<=11; j++){ %>
                <p class="time-mid-Para"></p>
                <% } %>
            <p class="time-mid-Para"></p>
                <% for(let j=1; j<=11; j++){ %>
                    <p class="time-mid-Para"></p>
                <% } %>
        </div>
        <div class = "time-message-Div">
            <% for(let i=0; i<=6; i++){ %>
                <div class = "time-message-inside-Div">
                    <% for(let j=0; j<=11; j++){ %>
                        <p class="time-message-Para"></p>
                    <% } %>
                <p class="time-message-Para"></p>
                    <% for(let j=1; j<=11; j++){ %>
                        <p class="time-message-Para"></p>
                        <p></p>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</section>